.table-title{
  display: flex;
  justify-content: center;

}
.table {
  display: grid;
  grid-template-columns: repeat(18, minmax(40px, 1fr));
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
  
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(0, 0, 0);
  height: 50px;
}

.number {
  font-size: 0.7rem;
  align-self: center;
  margin: 4px;
}
.symbol {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
}
.placeholder {
  visibility: hidden;
  border: none;
  background: none;
}

.table-image{
  display: none;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .table {
    grid-template-columns: repeat(9, minmax(40px, 1fr));
  }
}

@media (max-width: 500px) {
  .table{
    display: none;
  }
  .table-image{
    display: block;
  }
}
